<a href="https://colab.research.google.com/github/HuBiZuk/Python25Study/blob/main/02_3_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 리스트명 = [요소1, 요소2, 요소3, ...]
odd = [1,3,5,7,9]

In [1]:
# 리스트의 생김새
a = []
b = [1,2,3]
c = ['Life','is','too','short']
d = [1,2,'Life','is']
e = [1,2,['Life','is']]

In [ ]:
# [리스트의 인덱싱과 슬라이싱]

In [5]:
# 리스트의 인덱싱
a = [1,2,3,]
a
a[0]
a[0] + a[2]
a[-1]

3

In [11]:
a = [1,2,3,['a','b','c']]
a[0]
a[-1] # -1 은 마지막 요소값
a[3]
a[-1][0]
a[-1][1]
a[-1][2]

'c'

In [13]:
# 삼중 이스트에서 인덱싱하기
a = [1,2,['a','b',['life','is']]]
a[2][2][0] # 세번째에 세번째에 첫번째

'life'

In [14]:
# 리스트의 슬라이싱
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [15]:
# 문자열에서 슬라이싱했던 예와 비교해보기
a = "12345"
a[0:2]

'12'

In [18]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]
b
c

[3, 4, 5]

In [19]:
# 중첩된 리스트에서 슬라이싱 하기
a = [1,2,3,['a','b','c'],4,5]
a[2:5]  # [_:_]시작과 끝
a[3][:2]

['a', 'b']

In [ ]:
# [리스트연산하기]

In [20]:
# 리스트 더하기(+)
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [21]:
# 리스트 반복하기(*)
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# 리스트 길이 구하기
a =  [1,2,3]
len(a)

3

In [23]:
# 숫자와 문자 합치기
a = [1,2,3]
str(a[2]) + "hi"    # 숫자를 문자열로 변환

'3hi'

In [ ]:
# [리스트의 수정과 삭제]

In [24]:
# 리스트의 값 수정하기
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [25]:
# del을 사용해 리스트 요소 삭제하기
a = [1,2,3]
del a[1]
a

[1, 3]

In [26]:
# 여러개 한번에 삭제하기
a = [1,2,3,4,5]
del a[2:]   # 세번째 부터 삭제하기
a

[1, 2]

In [ ]:
# [리스트 관련 함수]

In [28]:
# 리스트에 요소 추가하기 - append
a = [1,2,3]
a.append(4)
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [29]:
# 리스트 정렬 - sort (리스트의 요소를 순서대로 정렬해줌)
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [31]:
# 알파뱃 순서로도 정렬해줌
a = ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [32]:
# 리스트 뒤집기 - reverse
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [34]:
# 인덱스 반환 - index
a = [1,2,3]
a.index(3)
a.index(1) # 인덱스의 위치값을 반환함

0

In [36]:
# 리스트의 요소 삽입 - insert
a = [1,2,3]
a.insert(0,4)  # 첫번째 자리에 4넣기
a.insert(3,5)  # 4,1,2,3 에서 네번째 자리에 5넣기
a

[4, 1, 2, 5, 3]

In [39]:
# 리스트 요소 제거 - remove
a = [1,2,3,1,2,3]
a.remove(3) # 첫번째 나오는 숫자 3을 지워라
a
a.remove(3)
a

[1, 2, 1, 2]

In [41]:
# 리스트 요소 끄집어내기 - pop
a = [1,2,3]
a.pop()   # 마지막요소 3을 끄집어내고 요소는 삭제
a

[1, 2]

In [44]:
a = [1,2,3]
a.pop(1)  # 두번째 요소 2를 반환하고 삭제
a

[1, 3]

In [45]:
# 리스트의 포함된 요소 x의 개수 세기 - count
a = [1,2,3,1]
a.count(1)

2

In [46]:
# 리스트의 확장 - extend
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [47]:
# 리스트의 확장 - extend
a = [1,2,3]
a.extend([4,5])
a
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]