<a href="https://colab.research.google.com/github/HuBiZuk/Python25Study/blob/main/02_4_%ED%8A%9C%ED%94%8C_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 리스트는 [], 튜플은 ()로 둘러싼다
# 튜플의 요소값은 변화가 불가능하다
# 튜플만들기
t1 = ()
t2 = (1,)   # 1개의 요소만 가질때는 쉼표를 반드시 붙여야함
t3 = (1,2,3)
t4 = 1,2,3  # 소괄호 생략 가능
t5 = ('a','b',('ab','cd'))

In [2]:
# 튜플의 요소값을 삭제하려 할때
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
# 튜플 요소값을 변경하려 할때
t1 = (1,2,'a','b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# [튜플 다루기]

In [4]:
# 인덱싱하기
t1 = (1,2,'a','b')
t1[0]

1

In [5]:
# 인덱싱하기
t1 = (1,2,'a','b')
t1[0]
t1[3]

'b'

In [6]:
# 슬라이싱하기
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [7]:
# 튜플 더하기
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [8]:
# 튜플 곱하기
t2 = (3,4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [9]:
# 튜플 길이 구하기
t1 = (1,2,'a','b')
len(t1)

4