<a href="https://colab.research.google.com/github/HuBiZuk/Python25Study/blob/main/02_6_%EC%A7%91%ED%95%A9_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 집합 자료형 만들기
s1 = set([1,2,3])
s1

{1, 2, 3}

In [2]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [3]:
s3 = {1,2,3}
s3

{1, 2, 3}

In [4]:
s4 = {'a','b','c'}
s4

{'a', 'b', 'c'}

In [5]:
# 집합 자료형의 특징
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다.
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [6]:
s1 = set([1,2,3])
l1 = list(s1)
l1
l1[0]

1

In [7]:
s1 = set([1,2,3])
l1 = list(s1)
l1
l1[0]
t1 = tuple(s1)
t1

(1, 2, 3)

In [8]:
s1 = set([1,2,3])
l1 = list(s1)
l1
l1[0]
t1 = tuple(s1)
t1
t1[0]

1

In [ ]:
# 교집합, 합집합, 차집합 구하기

In [9]:
#교집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s1 & s2

{4, 5, 6}

In [10]:
#교집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s1.intersection(s2)

{4, 5, 6}

In [11]:
#합집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
#합집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
#차집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s1 - s2

{1, 2, 3}

In [14]:
#차집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s2 - s1

{7, 8, 9}

In [15]:
#차집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s1.difference(s2)

{1, 2, 3}

In [17]:
#차집합 구하기
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9,])
s2.difference(s1)

{7, 8, 9}

In [ ]:
# 집합 자료형 관련 함수

In [18]:
# 값 1개 추가하기 - add
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [19]:
# 값 여러개 추가하기 - update
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [20]:
# 특정 값 제거하기 - remove
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [21]:
# 특정값 제거하기 - discard
# remove와 비슷하지만 존재하지 않는 값을 제거하려할때 오류가 나지 않는다.
s1 = set([1,2,3])
s1.discard(2)
s1

{1, 3}

In [22]:
# 특정값 제거하기 - discard
# remove와 비슷하지만 존재하지 않는 값을 제거하려할때 오류가 나지 않는다.
s1 = set([1,2,3])
s1.discard(2)
s1
s1.discard(4)
s1

{1, 3}

In [24]:
# 모든 값 제거하기 - clear
s1 = set([1,2,3])
s1.clear()
s1

set()