<a href="https://colab.research.google.com/github/HuBiZuk/Python25Study/blob/main/03_3_for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 전형적인 for문
test_list = ['one', 'two', 'three']
for i in test_list:
             print(i)

one
two
three

In [ ]:
# 다양한 for 문의 사용
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)
  # a 리스트 요소값이 튜플이기 때문에 각각의 요소가 자동으로
  # (first, last) 변수에 대입된다.

3
7
11

In [ ]:
# for 문의 응용
marks = [90,25,67,45,80]  # 학생들의 시험 점수 리스트

number = 0  # 학생에게 붙여줄 번호
for mark in marks:  # 90,25,67,45,80 을 순서대로 mark에 대입
  number = number +1
  if mark >= 60:
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격 입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격 입니다.
3번 학생은 합격입니다.
4번 학생은 불합격 입니다.
5번 학생은 합격입니다.

In [ ]:
# for 문과 continue 문
marks = [90,25,67,45,80]

number = 0
for mark in marks:
  number = number +1
  if mark < 60:
    continue
  print("%d번 학생 축하 합니다. 합격입니다." % number)

1번 학생 축하 합니다. 합격입니다.
3번 학생 축하 합니다. 합격입니다.
5번 학생 축하 합니다. 합격입니다.

In [ ]:
# for 문과 함께 자주 사용하는 range 함수
a = range(10)
a

range(0, 10)

In [ ]:
# 시작 숫자 끝 숫자 지정
a = range(1, 11)
a

range(1, 11)

In [ ]:
# range 함수의 예시
add = 0
for i in range(1, 11):
  add = add + i
print (add)

55

In [ ]:
# 합격축하문을 range로
mark = [90,25,67,45,80]
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." % (number +1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
# for 와 range를 이용한 구구단
for i in range(2,10):  # 1번 for문
  for j in range(1,10):  # 2번 for문
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
# 리스트 컴프리헨션 사용하기
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [ ]:
# 조금더 간단하게
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:
# 1,2,3,4 중에 짝수만 3을 곱함
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [ ]:
# 리스트 컴프리헨션의 문법
# [표현식 for 항목 in 반복_가능_객체 if 조건문]

In [ ]:
# for문을 2개 이상 사용
# [표현식 for 항목1 in 반복가능객체1 if 조건문1
#   for 항목2 in 반복가능객체2 if 조건문2
#   ...
#   for 항목n 반복가능객체n if 조건문n]

In [ ]:
# 리스트 컴프리핸션을 사용한 구구단
result = [x*y for x in range(2,10)
          for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
# for 문과 break 문
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [23]:
# for-else 문
for i in range(5):
  print(i)
else:
  print("for 문이 정상 종료되었습니다.")

0
1
2
3
4
for 문이 정상 종료되었습니다.

In [24]:
# break문으로 for 빠져나가기
for i in range(5):
  if i == 3:
    break
  print(i)
else:
  print("for 문이 정상종료 되었습니다")

0
1
2

In [25]:
# enumerate 함수 활용핟기
fruits = ['apple', 'banana', 'orange']
for i, fruits in enumerate(fruits):
  print(f"{i}: {fruits}")

0: a[[;e
1: banana
2: orange

In [27]:
# 시작 번호를 변경하고 싶다면
fruits = ['apple', 'banana', 'orange']
for i, fruits in enumerate(fruits,1): # 1부터 시작
  print(f"{i}: {fruits}")

1: apple
2: banana
3: orange

In [28]:
# zip 함수로 여러 리스트 함께 순회하기
names = ['홍길동', '김철수', '이영희']
scores = [85, 92, 78]
for name, score in zip(names, scores):
  print(f"{name}: {score}점")

홍길동: 85점
김철수: 92점
이영희: 78점

In [29]:
# 세개 이상의 리스트도 함께 순회
names = ['홍길동', '김철수', '이영희']
korean = [85, 92, 78]
english = [90, 88, 95]
for name, kor, eng in zip(names, korean, english):
  print(f"{name}: 국어 {kor}점, 영어 {eng}점")

홍길동: 국어 85점, 영어 90점
김철수: 국어 92점, 영어 88점
이영희: 국어 78점, 영어 95점