<a href="https://colab.research.google.com/github/HuBiZuk/Python25Study/blob/main/04_1_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬 함수의 구조
# def 함수이름(매개변수)
#  수행할 문장1
#  수행할 문장2

def add(a,b):
  return a+b
a = 3
b = 4
c = add(a, b)   # add(3, 4)의 반환값을 c에 대입
print(c)

7

In [ ]:
# 매개변수(parameter)와 인수(arguments)
# 매개변수 = 함수에 입력으로 전달된 값을 받는 변수
# 인수 = 함수를 호출할때 전달하는 입력값

def add(a, b) # a,b는 매개변수
  return a+b
print(add(3, 4))  # 3, 4는 인수

In [ ]:
# 일반적인 함수
# def 함수이름(매개변수):
# 수행할 문장
# ...
# return 반환값

def add(a, b):
  result = a + b
  return result

In [ ]:
a = add(3, 4)
print(a)

7

In [ ]:
# 입력값이 없는 함수
def say():
  return 'Hi'

a = say()
print(a)

Hi

In [ ]:
# 반환값이 없는 함수
def add(a, b):
  print("%d, %d의 합은 %d 입니다." % (a, b, a+b))

add(3, 4)

3, 4의 합은 7 입니다.

In [ ]:
# 반환값이 없는 함수
def add(a, b):
  print("%d, %d의 합은 %d 입니다." % (a, b, a+b))

a = add(3, 4)
print(a)

3, 4의 합은 7 입니다.
None

In [ ]:
# 입력값과, 반환값도 없는 함수
def say():
  print('hi')

# 사용법
say()   # 함수이름()

hi

In [ ]:
# 매개변수를 지정하여 호출하기
def sub(a, b):
  return a - b

result = sub(a=7, b=3)  # a에 7, b에 3을 전달
print(result)

4

In [ ]:
# 매개변수를 지정하면 순서에 상관없이 사용
def sub(a, b):
  return a - b

result = sub(b=5, a=3)  # b에 5, a에 3을 전달
print(result)

-2

In [ ]:
# 여러개의 입력값을 받는 함수 만들기
# *args 처럼 매개변수 이름 앞에 *을 붙이면 입력값을 전부 모아 튜플로 만들어줌
def add_many(*args):
  result = 0
  for i in args:
    result = result + i   # *args에 입력받는 모든값을 더한다.
  return result

# 사용하기
result = add_many(1,2,3)
print(result)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [9]:
# 여러입력 처리할때
def add_mul(choice, *args):
  if choice == "add": # 매개변수 choice에 add를 입력 받았을때
    result = 0
    for i in args:
      result = result + i

  elif choice == "mul":   # 매개변수 choice에 "mul" 을 입력 받았을때

    result = 1
    for i in args:
      result = result * i
  return result

result = add_mul('add', 1,2,3,4,5)
print(result)

result = add_mul("mul", 1,2,3,4,5)
print(result)

15
120

In [ ]:
# 키워드 매개변수, kwargs
def print_kwargs(**kwargs):
  print(kwargs)


# print_kwargs = 입력받은 키워드 매개변수들을 딕셔너리 형태로
# 출력하는 함수
print_kwargs(a=1)
print_kwargs(name='foo', age=3)
print_kwargs(name='홍길동', age=25, city='서울', jop='개발자')

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'jop': '개발자'}

In [ ]:
# 키워드 배개변수의 실용적인 예
def create_profile(**info):
  print("=== 프로필 정보 ===")
  for key, value in info.items():
    print(f"{key}: {value}")

create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [ ]:
# 키워드 배개변수의 실용적인 예
def mixed_function(name, *args, **kwargs):
  print(f"이름: {name}")
  print(f"추가 인수들:{args}")
  print(f"키워드 추가 인수들: {kwargs}")

mixed_function('홍길동', 1,2,3, age=25, city='서울')

# kwargs 는 keyword arguments의 약자

이름: 홍길동
추가 인수들:(1, 2, 3)
키워드 추가 인수들: {'age': 25, 'city': '서울'}

In [ ]:
# 함수의 반환값은 언제나 하나이다
def add_and_mul(a,b):
  return a+b, a*b
result = add_and_mul(3,4)
# result = (7, 12)

In [ ]:
def add_and_mul(a,b):
  return a+b
  return a*b
result = add_and_mul(2,3)
print(result)

5

In [ ]:
# return의 또다른 쓰임새
# 리턴으로 함수를 빠져 나가는 방법
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s 입니다." % nick)

say_nick('야호')
say_nick('바보')

나의 별명은 야호 입니다.

In [ ]:
# 매개변수에 초깃값 미리 설정하기
def say_myself(name, age, man=True):
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d살 입니다." % age)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

say_myself("박응용", 27)
say_myself("박응용", 27, True)
say_myself("박응선", 27, False)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.
나의 이름은 박응선 입니다.
나이는 27살 입니다.
여자입니다.

In [ ]:
# 주의(오류)
del say_myself(name, man=True, age):
print("나의 이름은 %s 입니다." % name)
print("나이는 %d살 입니다." % age)
if man:
  print("남자 입니다.")
else:
  print("여자 입니다.")

say_myself("박응용", 27)

SyntaxError: positional argument follows keyword argument (ipython-input-798842943.py, line 2)

In [ ]:
# 함수 안에서 선언한 변수의 효력 범위
a = 1
def vartest(a):
  a = a + 1

vartest(a)
print(a)

def vartest(hello):
  hello = hello + 1

1

In [ ]:
# 함수 안에서 선언한 변수의 효력 범위
a = 1
def vartest(a):
  a = a + 1

vartest(3)
print(a)

1

In [ ]:
#[함수 안에서 함수 밖의 변수를 변경하는 방법]

In [ ]:
# return 사용하기
a = 1
def vartest(a):
  a = a + 1
  return a

a = vartest(a)
print(a)

2

In [ ]:
# global 명령어 사용하기
a = 1
def vartest():
  global a
  a = a+1

vartest()
print(a)

2

In [ ]:
# 리스트나 딕셔너리는 함수에서 변경 가능하다
def change_list(my_list):
  my_list.append(4) # 리스트에 값을 추가

a = [1,2,3]
change_list(a)
print(a)

[1, 2, 3, 4]

In [ ]:
# lambda 예약어
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [ ]:
def add(a,b):
  return a+b

result = add(3, 4)
print(result)

7

In [ ]:
# 함수의 독스트링(Docstring)
# 함수의 대한 설명을 문서화 하는 방법
def add(a,b):
  """
  두 숫자를 더하는 함수

  Prameters:
  a (int, float): 첫 번째 숫자
  b (int, float): 두 번째 숫자

  Returns:
  int, float: 두 숫자의 합
  """

  return a + b

# 독 스트링 확인하기
print(add.__doc__)

  두 숫자를 더하는 함수

  Prameters:
  a (int, float): 첫 번째 숫자
  b (int, float): 두 번째 숫자

  Returns:
  int, float: 두 숫자의 합