<a href="https://colab.research.google.com/github/HuBiZuk/Python25Study/blob/main/04_2_%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# input 사용하기
a = input()
a

hahahahaha

'hahahahaha'

In [5]:
# 프롬프트를 띄워 사용자 입력받기
input("안내문구")

안내문구?

'?'

In [8]:
number = input("숫자를 입력하세요: ")
print(number)
type(number)

숫자를 입력하세요: 3
3

str

In [ ]:
# [입력값을 숫자로 변환하기]

In [9]:
# 정수로 변환하기
age = input("나이를 입력하세요: ")
age = int(age)  # 문자열을 정수로 변환
print(age+1)

나이를 입력하세요: 26
27

In [10]:
# 실수로 변환하기
height = input("키를 입력하세요(cm):")
height = float(height)  # 문자열을 실수로 변환
print(height /100)  # 미터 단위로 변환
# float() 함수는 문자열이나 정수를 실수로 변환하는 파이썬 내장 함수

키를 입력하세요(cm):176
1.76

In [11]:
# 한번에 변환하기
age = int(input("나이를 입력하세요: "))
print(type(age))

나이를 입력하세요: 39
<class 'int'>

In [12]:
# print 자세히 알기
a = 123
print(a)

a = "Python"
print(a)

a = [ 1,2,3]
print(a)

123
Python
[1, 2, 3]

In [13]:
# 큰 따옴표로 둘러싸인 문자열은 + 연산과 동일하다
print("life" "is" "too short")  # 1번

print("life"+"is"+"too short")  # 2번

lifeistoo short
lifeistoo short

In [14]:
# 문자열 띄어쓰기는 쉼표로 한다
print("life", "is", "too short")

life is too short

In [15]:
# sep 매개변수로 구분자 설정하기
print("2025", "08", "17", sep="-")

print("점프", "투", "파이썬", sep=" to ")

2025-08-17
점프 to 투 to 파이썬

In [16]:
# 한줄에 결과값 출력하기
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [17]:
# 실습: 간단한 계산기 만들기
print("====간단한 계산기====")

# 사용자로부터 두 숫자 입력받기
num1 = float(input("첫번째 숫자를 입력하세요: "))
num2 = float(input("두번째 숫자를 입력하세요: "))

# 계산결과 출력
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} + {num2} = {num1 - num2}")
print(f"{num1} + {num2} = {num1 * num2}")

if num2 !=0:
  print(f"{num1} / {num2} = {num1 / num2}")
else:
  print("0으로 나눌 수 없습니다.")

====간단한 계산기====
첫번째 숫자를 입력하세요: 2
두번째 숫자를 입력하세요: 3
2.0 + 3.0 = 5.0
2.0 + 3.0 = -1.0
2.0 + 3.0 = 6.0
2.0 / 3.0 = 0.6666666666666666