<a href="https://colab.research.google.com/github/HuBiZuk/Python25Study/blob/main/%EC%88%AB%EC%9E%90_%EB%AC%B8%EC%9E%90_%EC%9E%90%EB%A3%8C%ED%98%95_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# [숫자형]
# number 타입: 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.

a = 123
print(a)

In [ ]:
# 정수형
a = 123
a = -178
a= 0

In [ ]:
# 실수형
a = 1.2
a = - 3.45
a = 4.24E10
a = 4.24e-10

In [ ]:
# [8진수와 16진수]
# 8진수
a = 0o177
print(a)

In [ ]:
# 16진수
a = 0x8ff
b = 0xABC
print(b)

In [ ]:
# [숫자형을 활용하기 위한 연산자]
# 사칙연산
a = 3
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)

In [ ]:
# x의 y제곱을 나타내는 **연산자
a = 3
b = 4
a**b

In [ ]:
# 나눗셈 후 나머지를 반환하는 % 연산자
7 % 3
3 % 7

In [ ]:
# 나눗셈 후 몫을 반환하는 // 연산자
7 / 4

In [ ]:
7 // 4

In [ ]:
# 복합연산자
a = 1
a = a + 1 # a + 1
print(a)
a += 1

In [ ]:
a = 1
a -= 1
print(a)

In [ ]:
# [문자열 자료형]
# 문자열에 작은따옴표 포함하기
food = "Python's favorite food is perl"
food

In [ ]:
# 오류 작은따옴표로 감싸기
food = 'Python's favorite food is perl'
food

In [ ]:
# 문자열에 큰 따옴표 포함하기
say = '"Python is very easy." he says.'
say

In [ ]:
# \" 역슬래시를 사용하여 작은따옴표와 큰따옴표를 문자열에 포함하기"
food = 'python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

In [ ]:
# 여러줄인 문자열을 변수에 대입하고 싶을때
# 1. 줄을 바꾸기 위한 이스케이프 코그 \n 삽입하기
multiline = "Life is too short\nYou need python"
print(multiline)

In [ ]:
# 2. 연속된 작은 따옴표 3개 또는 큰따옴표 3개 사용하기
multiline = '''Life is too
short You need
python'''
print(multiline)

In [ ]:
multiline = """
Life is too short
You need python
"""
print(multiline)

In [ ]:
# 이스케이프 코드
\n # 문자열 안에서 줄으 ㄹ바꿀때 사용
\c # 문자열 사이에 탭 간격을 줄때 사용
\\ # \를 그대로 표현할때 사용
\' # 작은 따옴표를 그대로 사용할때 사용
\" # 큰 따옴표를 그대로 사용할때 사용
\r # 캐리지 리턴(줄바꿈 문자, 커서를 현재줄의 가장 앞으로 이동)
\f # 폼 피드(줄바꿈 문자, 커서를 현재줄의 다음줄로 이동)
\a # 벨 소리(출력할 때 pc 스피커에서 '삑' 소리가 난다)
\b # 백스페이스
\000 # 널 문자

In [ ]:
# 문자열 연산하기
# 문자열 더해서 연결하기
head = "Python"
tail =  is fun"
head + tail

In [ ]:
# 문자열 곱하기
a = "python"
a * 2

In [ ]:
# 문자열 곱하기를 응용하기
# multystring.py

print("=" * 50)
print("my program")
print("=" * 50)

In [ ]:
# 문자열 길이 구하기
a= "Life id too short"
len(a)

In [ ]:
# 문자열 인덱싱
a = "Life id too short, You need Python"
a[3]

In [ ]:
# 문자열 인덱싱 활용하기
a = "Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])

In [ ]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)
print(a[0:4])
print(a[0:3])   # 끝 번호에 해당하는 문자는 포함하지 않음
print(a[0:5])
print(a[0:2])
print(a[5:7])
print(a[12:17])
print(a[19:])
print(a[:17])
print(a[:])
print(a[19:-7])

In [ ]:
# 슬라이싱으로 문자열 나누기
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

In [ ]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

In [ ]:
# Pithon 문자열을 Python 으로 바꾸려면?
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

In [ ]:
# 문자열 포메팅
# 숫자 바로 대입
"I eat %d apples." %3

In [ ]:
# 문자열 바로 대입
"I eat %s apples." %"five"

In [ ]:
# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

In [ ]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

In [ ]:
# 문자열 포맷 코드
%s 문자열(String)
%c 문자 1개(character)
%d 정수(Integer)
%f 부동소수(floating-point)
%o 8진수
%x 16진수
%% Literal % (문자 % 자체)

In [67]:
# ex
"I have %s apples" %3

'I have 3 apples'

In [68]:
"rate is %s" % 3.234

'rate is 3.234'

In [69]:
# 포매팅 연산자 %d 와 %를 같이 쓸때는 %%를 쓴다
"Error is %d%." %98

ValueError: incomplete format

In [70]:
"Error is %d%%." %98

'Error is 98%.'

In [71]:
# 포맷 코드와 숫자 함께 상용하기
# 정렬과 공백
"%10s" % "hi"

'        hi'

In [72]:
"%-10sjane." % 'hi'

'hi        jane.'

In [73]:
# 소수점 표현하기
"%0.4f" % 3.42134234

'3.4213'

In [74]:
"%10.4f" % 3.42134234

'    3.4213'

In [75]:
# format 함수를 사용한 포메팅
# 숫자 바로 대입하기
"i eat {0} apples".format(3)

'i eat 3 apples'

In [76]:
# 문자열 바로 대입하기
"i eat {0} apples".format("five")

'i eat five apples'

In [77]:
# 숫자를 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [79]:
# 2개 이상의 값 넣기
number = 10
day =  "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [80]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [81]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so  I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so  I was sick for 3 days.'

In [82]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [83]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [84]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [88]:
# 공백 채우기
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

====hi====
hi!!!!!!!!

In [90]:
# 소수점 표현하기
y = 3.42134234
print("{0:0.4f}".format(y))
print("{0:10.4f}".format(y))

3.4213
    3.4213

In [91]:
# {또는} 문자 표현하기
"{{and}}".format()

'{and}'

In [92]:
# f 문자열 포매팅
name = '홍길동'
age = 30
f'나의 이름은 {name} 입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동 입니다. 나이는 30입니다.'

In [93]:
age = 30
f'나는 내년이면 {age +1} 살이 된다.'

'나는 내년이면 31 살이 된다.'

In [94]:
d = {'name': '홍길동', 'age': 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다'

'나의 이름은 홍길동입니다. 나이는 30입니다'

In [95]:
# 정렬
f'{"hi":<10}'

'hi        '

In [97]:
F'{"HI":>10}'

'        HI'

In [98]:
F'{"HI":^10}'

'    HI    '

In [99]:
# 공백 채우기
F'{"HI":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기

'====HI===='

In [104]:
f'{"hi":!<10}'   # 왼쪽 정렬하고 ! 문자로 공백 채우기

'hi!!!!!!!!'

In [105]:
# 소수점
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [108]:

y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [109]:
# f문자열ㄹ에서 {} 그대로 표시하기
f'{{ and }}'

'{ and }'

In [110]:
# f문자열을 사용하여 금액에 콤마(,) 사용하기
f"난 {1500000:,}원이 필요해"

'난 1,500,000원이 필요해'

In [112]:
# [문자 관련 함수들]
# 문자 개수 세기 - count
a= "hobby"
a.count('b')

2

In [113]:
# 위치 알려주기 1 - find
a = "Python is the best choice"
a.find('b')

14

In [114]:
a = "Python is the best choice"
a.find('k')
# 존대하지 않으면 -1 반환

-1

In [115]:
# 위치 알려주기 2 - index
a = "Life is too short"
a.index('t')

8

In [116]:
a = "Life is too short"
a.index('k')

ValueError: substring not found

In [117]:
# 문자열 삽입 - join
",".join('abcd')

'a,b,c,d'

In [119]:
# 소문자를 대문자로 바꾸기 - upper
a = "hi"
a.upper()

'HI'

In [ ]:
#